* {
    border: none;
    font-family: "GoMono Nerd Font Mono", "JetBrainsMono Nerd Font Propo";
    font-size: 15px;


}

window#waybar {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    min-height: 35px;
}


#cpu,
#memory,
#clock {
    padding: 0 5px;
    margin: 0 5px;
}

#cpu,
#memory {
    padding: 0 5px;
    padding-left: 5px;
    margin: 0 20px;
    font-size: 14px;
    background: alpha(#000000, 0.3);
    color: white;
    border-radius: 50px;
    font-weight: 900;

}

#custom-media {
    padding: 0 5px;
    margin: 0 2px;
    background: alpha(#000000, 0.3);
    color: white;
    border-radius: 50px;
    font-weight: 900;

}

/*non act*/
#workspaces button {
    margin: 0 2px;
    background: alpha(#000000, 0.3);
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

/* ACTIVE */
#workspaces button.focused {
    min-width: 100px;
    background: linear-gradient(30deg, rgb(179, 228, 255) 0%, rgba(74, 74, 74, 0) 100%);
    border-radius: 100px;
    border: 2px solid rgb(14, 21, 27);
    padding: 0 5px;
    transition: all 0.3s ease-in-out;
}


#clock {
    /*background: rgba(25, 43, 75, 0.5);*/
    font-size: 25px;
    font-weight: 900;
    border-radius: 50px;
    color: white
}

#custom-power,
#pulseaudio,
#tray,
#custom-audio-toggle,
#mpd,
#language {

    font-weight: 900;
    background: alpha(#000000, 0.3);
    color: whitesmoke;
    padding: 0 10px;
    margin: 0 3px;
    border-radius: 50px;

}

#custom-audio-toggle{
    font-size: 25px;
}

#custom-power {
    font-size: 25px;
    padding-left: 12px;
    padding-right: 12px;
    /*background: rgb(191, 97, 106)*/
    background: linear-gradient(0deg, rgba(191, 122, 97, 0.665) 0%, rgba(0, 0, 0, 0.152) 100%);
}

.modules-center,
.modules-right,
.modules-left {
    margin-top: 10px;
    padding: 0 15px;
    min-height: 35px;
}
