@import url("file:///home/user/.cache/wal/colors-waybar.css");
* {
	background-image: none;
	box-shadow: none;
}

window {
	
	background-color: rgba(12, 12, 12, 0.2);
}

button {
    	border-radius: 20px;
    	border-color: @color4 ;
	text-decoration-color: #FFFFFF;
    	color: #FFFFFF;
	background-color:rgba(12, 12, 12, 0.3); 
	border-style: solid;
	border-width: 3px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	padding: 0 10px;
    	margin: 10px;
	font-size:20px;
	font-family: "SF Pro Display";
	font-weight: 900;

}

button:focus, button:active, button:hover {
	background-color: @color4 ;;
	outline-style: none;
}

#lock {
    background-image: image(url("/home/user/Desktop/lock.png"), url("/home/user/Desktop/lock.png"));
}

#logout {
    background-image: image(url("/home/user/Desktop/logout.png"), url("/home/user/Desktop/logout.png"));
}

#suspend {
    background-image: image(url("/home/user/Desktop/suspend.png"), url("/home/user/Desktop/suspend.png"));
}

#hibernate {
    background-image: image(url("/home/user/Desktop/hibernate.png"), url("/home/user/Desktop/hibernate.png"));
}

#shutdown {
    background-image: image(url("/home/user/Desktop/shutdown.png"), url("/home/user/Desktop/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/user/Desktop/reboot.png"), url("/home/user/Desktop/reboot.png"));
}
